<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="css/main.css">
			<link rel="stylesheet" type="text/css" href="css/github.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="index.html">Home</a></li> 
		        	<li><a href="install.html">Installation</a></li>
		        	<li><a href="tutorial.html">Tutorial</a></li>
	        		<li><a href="contributing.html">Contributing</a></li> 
	        		<li><a href="https://github.com/AgilData/agildata-zero">Source Code</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer><p>Copyright &copy; 2016 AgilData. All rights reserved.</p>
			</footer>
		</body>
	</html>

