<!DOCTYPE html>
	<html>
		<head>
		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<!--<link rel="stylesheet" type="text/css" href="css/main.css">-->
			<link rel="stylesheet" type="text/css" href="css/github.css">
			<!-- Bootstrap -->
    		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" >
    		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    		<!--[if lt IE 9]>
      			<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      			<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    		<![endif]-->

		</head>
		<body>
			<div class="container">
				<div class="row">
						<div class="col-sm-12">
							<nav class="navbar navbar-default">
								<div class="container-fluid">
							    <!-- Brand and toggle get grouped for better mobile display -->
							    <div class="navbar-header">
							      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							        <span class="sr-only">Toggle navigation</span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							        <span class="icon-bar"></span>
							      </button>
							      <a class="navbar-brand" href="index.html"><img src="images/AgilData-Zero-Nav-Logo.png" alt="AgilData Zero Logo" border="0px" style="position: relative; top: -10px; left: -5px;"></a>
							    </div>
								<!-- Collect the nav links, forms, and other content for toggling -->
		    				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					    		<ul class="nav navbar-nav">
										{% if page.active == "index" %}
					        			<li class="active"><a href="index.html">Home</a></li>
										{% else %}
												<li><a href="index.html">Home</a></li>
										{% endif %}
										{% if page.active == "install" %}
						        	<li class="active"><a href="install.html">Installation</a></li>
										{% else %}
											<li><a href="install.html">Installation</a></li>
										{% endif %}
									    {% if page.active == "configuration" %}
									<li class="active"><a href="configuration.html">Configuration</a></li>
										{% else %}
										<li><a href="configuration.html">Configuration</a></li>
										{% endif %}
										{% if page.active == "tutorial" %}
									<li class="active"><a href="tutorial.html">Tutorial</a></li>
										{% else %}
											<li><a href="tutorial.html">Tutorial</a></li>
										{% endif %}
										{% if page.active == "contributing" %}
					        		<li class="active"><a href="contributing.html">Contributing</a></li>
										{% else %}
											<li><a href="contributing.html">Contributing</a></li>
										{% endif %}
					        		<li><a href="https://github.com/AgilData/agildata-zero">Source Code</a></li>
					    		</ul>
								</div><!-- /.navbar-collapse -->
							</div><!-- /.container-fluid -->
						</nav>
					</div>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
							{{ content }}
					</div>
				</div>
			</div><!-- /.container -->
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<footer><p>Copyright &copy; 2016 AgilData. All rights reserved.</p>
						</footer>
					</div>
				</div>
			</div>
				<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    		<!-- Include all compiled plugins (below), or include individual files as needed -->
    		<script src="js/bootstrap.min.js"></script>
				<!-- active nav controller - this doesn't work with Jekyll see if else statements above instead (Might be a better way)
				<script type="text/javascript">
					$(".nav a").on("click", function(){
 						$(".nav").find(".active").removeClass("active");
 						$(this).parent().addClass("active");
					});
				</script>
				-->
		</body>
	</html>
